
    .card {
        background-color: #f181d9;
        height: 570px;
        width: 350px;
        padding: 15px;
        position: relative;
        justify-self: center;
        clip-path: polygon(15% 0%, 100% 0, 100% 90%, 85% 100%, 0 100%, 0% 10%);
    }
    .image-container{
        width: 320px;
        height: 320px;
        background-color: #fff;
        padding: 25px;
       
        clip-path: polygon(15% 0%, 100% 0, 100% 86%, 85% 100%, 0 100%, 0% 16%);
    }
    .image-container img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .cart-btn{
        border: 3px solid white;
        font-size: 18px;
        font-weight: 700;
        color: rgb(88, 86, 86);
    }
    .cart-btn:hover{
        background-color: white;
        color: rgb(88, 86, 86);
    }
    .text-color{
        color: rgb(88, 88, 88);
    }